:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: #2e2f4266;
  --grey: #2e2f42b2;
  --white: #ffffff;
  --dairy: #fcfcfc;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--white);
  color: var(--slate);
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1158px;
}

.header-wrap {
  display: flex;
  align-items: center;
}

.link {
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: var(--ocean);
}

.logo {
  color: var(--iris);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 0.03em;
  line-height: 1.17;
  text-transform: uppercase;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-header {
  margin-right: 76px;
}

.accent {
  color: var(--navy-blue);
}

.list {
  display: flex;
  gap: 24px;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.section {
  padding: 120px 0;
}

.section .list {
  justify-content: center;
}

.button {
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.5;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.third-heading {
  color: var(--navy-blue);
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.2;
  margin-bottom: 8px;
  text-align: center;
}

.paragraph {
  color: var(--slate);
  letter-spacing: 0.02em;
  line-height: 1.5;
  text-align: center;
}

.second-heading {
  color: var(--navy-blue);
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.02em;
  line-height: 1.11;
  margin-bottom: 72px;
  text-align: center;
  text-transform: capitalize;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.work-li,
.portfolio-app-li {
  flex-basis: calc((100% - 48px) / 3);
}

/* header */

.header {
  border-bottom: 1px solid var(--cornflower);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.navigation {
  display: flex;
  align-items: center;
}

.nav-list {
  gap: 40px;
}

.nav-link {
  color: var(--navy-blue);
  display: inline-block;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.5;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.active-page {
  color: var(--ocean);
  position: relative;
}

.active-page::after {
  background-color: var(--ocean);
  border-radius: 2px;
  bottom: -1px;
  content: "";
  height: 4px;
  left: 0;
  position: absolute;
  width: 100%;
}

.address {
  align-items: center;
  display: flex;
  font-style: normal;
  gap: 40px;
  margin-left: auto;
}

.address > .list {
  gap: 40px;
}

.address-link {
  color: var(--slate);
  letter-spacing: 0.02em;
  line-height: 1.5;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* main studio */

.starting-section {
  background-color: var(--navy-blue);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/people-office.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  max-width: 1440px;
  padding: 188px 0;
}

.first-heading {
  color: var(--white);
  font-size: 56px;
  letter-spacing: 0.02em;
  line-height: 1.07;
  max-width: 496px;
  text-align: center;
  margin: 0 auto 48px auto;
}

.main-button {
  background-color: var(--iris);
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: var(--white);
  display: block;
  margin: 0 auto;
  min-width: 169px;
  padding: 16px 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-button:hover,
.main-button:focus {
  background-color: var(--ocean);
}

.traits-section .third-heading,
.traits-section .paragraph {
  text-align: left;
}

.traits-li {
  flex-basis: calc((100% - 72px) / 4);
}

.traits-div {
  align-items: center;
  background-color: var(--cloud);
  border-radius: 4px;
  display: flex;
  height: 112px;
  justify-content: center;
  margin-bottom: 8px;
}

.work-section {
  padding-top: 0;
}

.team-section {
  background-color: var(--cloud);
}

.team-li {
  background-color: var(--white);
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  flex-basis: calc((100% - 72px) / 4);
}

.team-member {
  padding: 32px 0;
}

.team-member .list {
  margin-top: 8px;
}

.social-link {
  align-items: center;
  background-color: var(--iris);
  border-radius: 50%;
  display: flex;
  height: 40px;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 40px;
}

.social-link:hover,
.social-link:focus {
  background-color: var(--ocean);
}

.social-svg {
  fill: var(--cloud);
}

.customers-li {
  height: 88px;
  width: calc((100% - 120px) / 6);
}

.customers-link {
  align-items: center;
  border: 1px solid var(--light-slate);
  border-radius: 4px;
  color: var(--light-slate);
  display: flex;
  height: 100%;
  justify-content: center;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
}

.customers-link:hover,
.customers-link:focus {
  border-color: var(--ocean);
  color: var(--ocean);
}

.customers-svg {
  fill: currentColor;
}

/* footer */

.footer {
  background-color: var(--navy-blue);
  padding: 100px 0;
}

.footer-wrap {
  align-items: baseline;
  display: flex;
  justify-content: flex-start;
}

.footer-left {
  margin-right: 120px;
}

.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
}

.footer .accent {
  color: var(--cloud);
}

.footer-paragraph {
  color: var(--cloud);
  letter-spacing: 0.02em;
  line-height: 1.5;
  max-width: 264px;
}

.footer-social-paragraph {
  color: var(--white);
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.5;
  margin-bottom: 16px;
}

.footer-social-list {
  gap: 16px;
}

.footer-social-li {
  height: 40px;
  width: 40px;
}

.footer-icon-link {
  align-items: center;
  background-color: var(--iris);
  border-radius: 50%;
  display: flex;
  height: 100%;
  justify-content: center;
  max-height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
}

.footer-icon-link:hover,
.footer-icon-link:focus {
  background-color: var(--green);
}

.footer-social-svg {
  max-height: 40px;
  max-width: 40px;
  fill: var(--cloud);
}

.p-footer {
margin-bottom: 16px;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #ffffff;
}

.form-footer {
  display: flex;
  gap: 24px;
}

.input-footer {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
}
.E-mail {
  color: #ffffff;
}

.form-button {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
}

.icon-icon-send { 
margin-left: 16px;
}

.div-form {
  margin-bottom: auto;
  margin-left: auto;
}

/* portfolio */

.portfolio-section {
  padding: 96px 0 120px 0;
}

.portfolio-section .list {
  flex-wrap: wrap;
}

.buttons {
  margin-bottom: 72px;
}

.portfolio-button {
  background-color: var(--cloud);
  border: 1px solid var(--cornflower);
  color: var(--iris);
  padding: 12px 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-button:hover,
.portfolio-button:focus {
  background-color: var(--ocean);
  border: 1px solid transparent;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  color: var(--white);
}

.portfolio-second-heading {
  color: var(--navy-blue);
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.2;
  margin-bottom: 8px;
}

.portfolio-app {
  row-gap: 48px;
  text-align: left;
}

.portfolio-app-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-app-link:hover,
.portfolio-app-link:focus {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-app-link:hover .app-paragraph,
.portfolio-app-link:focus .app-paragraph {
  transform: translateY(0%);
}

.img-wrap {
  overflow: hidden;
  position: relative;
}

.app-paragraph {
  background-color: var(--iris);
  color: var(--cloud);
  height: 100%;
  padding: 40px 32px;
  position: absolute;
  text-align: left;
  top: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-app-name {
  border: 1px solid var(--cornflower);
  border-top: none;
  padding: 32px 16px;
}

.portfolio-app-name > .paragraph {
  text-align: left;
}

/* modal window */

.backdrop {
  background-color: var(--navy-blue-modal);
  height: 100vh;
  left: 0;
  position: fixed;
  width: 100vw;
  z-index: 1;
  top: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  background-color: var(--dairy);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  border-radius: 4px;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  min-width: 408px;
  min-height: 584px;
  position: absolute;
  top: 50%;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.is-hidden .modal {
  transform: translateY(100%);
}

.close {
  align-items: center;
  background-color: var(--cornflower);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  min-height: 24px;
  position: absolute;
  right: 24px;
  top: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  min-width: 24px;
}

.close:hover,
.close:focus {
  background-color: var(--ocean);
  border: none;
  fill: var(--white);
}

.close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.p-modal {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}

.form-modal {
  margin-bottom: 8px;
}

.label-modal {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.div-modal {
  position: relative;

}

.input-modal {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}

.input-modal:focus {
  border-color: #4d5ae5;
}

.input-modal:focus + .icon-vector {
  fill: #4d5ae5;
}
.input-five:checked + .label-five span {
  background-color: #404bbf;
  border: none;
  fill: #F4F4FD;
    }

.icon-vector {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #2E2F42
}

.div-comment {
  margin-bottom: 16px;
}

.textarea-modal {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-color: #4D5AE5;
}

.div-five {
  margin-bottom: 24px;
}

.label-five {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.span-modal {
  margin: 2%;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.link-modal {
color: #4D5AE5;
}

.button-modal {
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4D5AE5;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}

/* mobile menu */

.mobile-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 40px;
  background-color: var(--white);
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.mobile-container.is.open {
  transform: translateX(0);
}

.mobile-container .nav-list {
  gap: 0;
  justify-content: start;
  max-width: 200px;
}

.mobile-container .active-page::after {
  display: none;
}

.mobile-container .address {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 48px;
}

.mobile-address-list {
  flex-wrap: wrap;
  gap: 40px;
  justify-content: start;
  max-width: 353px;
}
  
.mobile-address-li:first-child {
  color: var(--iris);
  font-size: 36px;
  font-weight: 700;
  min-width: 353px;
}

.mobile-address-li:first-child .address-link {
  color: var(--iris);
}

.mobile-social-list {
  gap: 56px;
  justify-content: start;
}

@media screen and (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .starting-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/people-office.jpg");
    }
  }
  
  /* tablet */

  @media all and (min-width: 768px) {

    .container {
      max-width: 768px;
    }
  
    .header-wrap {
      height: 72px;
      max-width: 768px;
    }
  
    .navigation {
      align-items: center;
      display: flex;
    }
  
    .header-wrap .nav-list {
      display: flex;
      gap: 40px;
    }
  
    .header-wrap .nav-link {
      font-size: 16px;
      font-weight: 500;
      line-height: 1.5;
      padding: 24px 0;
    }
  
    .header-wrap .address {
      display: flex;
      font-size: 12px;
      font-weight: 400;
      letter-spacing: 0.04em;
      line-height: 1.17;
      margin-left: auto;
      max-width: 119px;
    }
  
    .header-wrap .address-list {
      gap: 12px;
    }
  
    .menu-toggle {
      display: none;
    }
  
    .starting-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url("../images/people-office.jpg");
    }
  
    .first-heading {
      font-size: 56px;
      line-height: 1.07;
      max-width: 496px;
    }
  
    .traits-list {
      gap: 72px 24px;
      margin: 0 auto;
      max-width: 736px;
    }
  
    .traits-li {
      max-width: 356px;
    }
  
    .traits-section .third-heading {
      text-align: left;
    }
  
    .team-list {
      gap: 64px 24px;
    }
  
    .customers-list {
      gap: 72px 24px;
    }
  
    .customers-li {
      min-width: 168px;
    }
  
    .footer-wrap {
      gap: 72px 24px;
      max-width: 584px
    }
    
    .footer-left {
      margin: 0;
    }
  
    .logo-footer {
      text-align: left;
    }
  
    .footer-social-div {
      margin: 0;
    }
  
    .footer-social-paragraph {
      text-align: left;
    }
  
    .form-footer {
      gap: 24px;
    }
  
    .label-footer {
      width: 264px;
    }
  
    .form-button {
      margin: 0;
    }
    .modal {
      min-width: 408px;
    }
  
    @media screen and (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      .starting-section {
        background-image: linear-gradient(
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)
          ),
          url("../images/people-office.jpg");
      }
    }
  }
    
  /*deskpot*/

  @media all and (min-width: 1158px) {

    .container {
      max-width: 1158px;
    }
  
    .section {
      padding: 120px 0;
    }
  
    .header-wrap .address {
      font-size: 16px;
      letter-spacing: 0.02em;
      line-height: 1.5;
      margin-left: auto;
      max-width: 100%;
    }
  
    .header-wrap .address-list {
      gap: 40px;
    }
  
    .starting-section {
      padding: 188px 0;
    }
  
    .traits-list {
      flex-wrap: nowrap;
    }
  
    .traits-li {
      min-width: 264px;
    }
  
    .traits-div {
      align-items: center;
      background-color: var(--cloud);
      border-radius: 4px;
      display: flex;
      height: 112px;
      justify-content: center;
      margin-bottom: 8px;
    }
  
    .traits-section .third-heading {
      font-size: 20px;
      font-weight: 500;
    }
  
    .paragraph {
      font-weight: 400;
    }
  
    .work-section {
      display: block;
      padding-top: 0;
    }
  
    .work-list {
      flex-wrap: nowrap;
      gap: 24px;
    }
  
    .team-list {
      flex-wrap: nowrap;
    }
  
    .customers-list {
      flex-wrap: nowrap;
    }
  
    .customers-li {
      min-width: 168px;
    }
  
    .footer-wrap {
      gap: 0;
      max-width: 1160px;
    }
  
    .footer-left {
      margin-right: 120px;
    }
  
    .footer-social-div {
      margin-left: auto;
      width: auto;
    }
  
    .form-footer {
      flex-wrap: nowrap;
    }

  @media screen and (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .starting-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/people-office.jpg");
  }
}
}

  
  
  
  
  
  
  
  
  
  
  
  
   
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
   
 
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
   
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
   
















 
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
   
